[project]
	description = For testing!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Josh (joshclimacell)
[access "refs/for/refs/*"]
	read = group user/Josh (joshclimacell)
	push = group user/Josh (joshclimacell)
	label-Code-Review = -2..+2 group user/Josh (joshclimacell)
	label-Verified = -1..+1 group user/Josh (joshclimacell)
	rebase = group user/Josh (joshclimacell)
	removeReviewer = group user/Josh (joshclimacell)
	submit = group user/Josh (joshclimacell)
[access "refs/heads/*"]
	read = group user/Josh (joshclimacell)
	create = group user/Josh (joshclimacell)
	push = +force group user/Josh (joshclimacell)
	pushMerge = group user/Josh (joshclimacell)
[access "refs/tags/*"]
	push = group user/Josh (joshclimacell)
	push = +force group user/Josh (joshclimacell)
